@import "@/scss/commons/vars";

div {

    .top {
        color: $white-color;
        background-color: $grey-color;
    }

    .bottom {
        color: $white-color;
        background-color: $grey-color;
    }
}